body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange
    {
        color: cornflowerblue;
    }
section{
    display: flex;
}
.two {
   width: 50%;
   padding-left: 5%; 
}
.two img {
    width: 120%;
}
