body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange
    {
        color: cornflowerblue;
    }
section{
    display: flex;
}
.two {
   width: 50%;
   padding-left: 5%; 
}
.two img {
    width: 120%;
}
.button{
    
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px 40px;
    margin: 50px 50px 80px 70px;
    color: black;
    font-weight: 700;
    font-size: 120%;
    border-radius: 13px;
    background-image: linear-gradient(rgb(138, 255, 247), cornflowerblue );
}
.p-two{
    display:flex;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}